<section>
  <h2>
    ## {{ skillsHeading }}
  </h2>
  <table>
    <thead class="sr-only">
      <tr>
        {% for th in skillsHead %}
          <th>
            {{ th }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for first, second in skillsBody %}
        <tr>
          <td>
            {{ first }}:
          </td>
          <td>
            {{ second }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
