<nav>
  {% for name, slug in [
    ['Home', '/'],
    ['Curriculum Vitae', '/cv']
  ] %}
    {% set current = url | replace(site, "") %}
    {% if slug == current %}
      <a>
        {{ name -}}
      </a>
    {%- else %}
      <a href="{{ slug }}">
        {{ name -}}
      </a>
    {%- endif -%}
    {{- ", " if not loop.last }}
  {% endfor %}
</nav>
