<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      content="width=device-width, initial-scale=1.0"
      name="viewport"
    >
    <title>
      {{ title }}
    </title>
    <meta
      content="{{ title }}"
      name="title"
    >
    <meta
      content="{{ description }}"
      name="description"
    >
    <link
      href="/manifest.json"
      rel="manifest"
    >
    <link
      href="/favicon.svg"
      rel="icon"
      sizes="any"
      type="image/svg+xml"
    >
    <meta
      content="website"
      property="og:type"
    >
    <meta
      content="{{ title }}"
      property="og:title"
    >
    <meta
      content="{{ site }}"
      property="og:site_name"
    >
    <meta
    `content="{{ description }}"
      property="og:description"
    >
    <meta
      content="{{ url }}"
      property="og:url"
    >
    <meta
      content="{{ title }}"
      name="twitter:title"
    >
    <meta
      content="{{ description }}"
      name="twitter:description"
    >
    <meta
      content="{{ url }}"
      name="twitter:site"
    >
    <meta
      content="light dark"
      name="color-scheme"
    >
    <meta
      content="#ffffff"
      media="(prefers-color-scheme: light)"
      name="theme-color"
    >
    <meta
      content="#0d1117"
      media="(prefers-color-scheme: dark)"
      name="theme-color"
    >
    <link
      rel="stylesheet"
      href="/assets/main.css"
    >
    <link
      rel="stylesheet"
      href="/assets/light.css"
      media="(prefers-color-scheme: light)"
    >
    <link
      rel="stylesheet"
      href="/assets/dark.css"
      media="(prefers-color-scheme: dark)"
    >
  </head>
  <body>
    {{ content | safe }}
    {% include "components/scheme-switch/scheme-switch.njk" %}
    <script src="/assets/scheme-switch.js"></script>
  </body>
</html>
