<!doctype html>
<html class="page" lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      content="width=device-width, initial-scale=1.0"
      name="viewport"
    >
    <title>
      {{ title }}
    </title>
    <meta
      content="{{ title }}"
      name="title"
    >
    <meta
      content="{{ description }}"
      name="description"
    >
    <link
      href="/favicon.svg"
      rel="icon"
      sizes="any"
      type="image/svg+xml"
    >
    <meta
      content="website"
      property="og:type"
    >
    <meta
      content="{{ title }}"
      property="og:title"
    >
    <meta
      content="{{ site }}"
      property="og:site_name"
    >
    <meta
    `content="{{ description }}"
      property="og:description"
    >
    <meta
      content="{{ url }}"
      property="og:url"
    >
    <meta
      content="{{ title }}"
      name="twitter:title"
    >
    <meta
      content="{{ description }}"
      name="twitter:description"
    >
    <meta
      content="{{ url }}"
      name="twitter:site"
    >
    <link
      rel="stylesheet"
      href="/assets/main.css"
    >
  </head>
  <body class="page__body">
    {{ content | safe }}
  </body>
</html>
