<template id="scheme-switch">
  <link
    rel="stylesheet"
    href="/assets/scheme-switch.css"
  >
  <fieldset>
    <legend class="sr-only">
      Display Mode
    </legend>
    <input
      aria-label="Light Mode"
      name="color-scheme"
      type="radio"
      value="light"
    >
    <input
      aria-label="System Mode"
      name="color-scheme"
      type="radio"
      value="system"
      checked
    >
    <input
      aria-label="Dark Mode"
      name="color-scheme"
      type="radio"
      value="dark"
    >
    <span aria-hidden="true">
      Dark Mode
    </span>
  </fieldset>
</template>
