@import url(/assets/main.css);

fieldset {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: grid;
  font-size: inherit;
  margin: 0;
  padding: 0;
  width: max-content;
}

input {
  cursor: pointer;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  margin: 0;
  opacity: 0;
  width: 100%;
}

input:not(:checked)[value=light] {
  z-index: 1;
}

input:checked[value=light] + input:not(:checked)[value=system],
input:checked[value=system] + input:not(:checked)[value=dark] {
  z-index: 2;
}

span {
  color: var(--cl-accent);
  grid-column: 1;
  grid-row: 1;
}

input:focus-visible ~ span,
input:hover ~ span {
  background-color: var(--cl-neutral-02);
  color: var(--cl-neutral-01);
}

input:not(:hover):focus-visible ~ span {
  outline: var(--cl-accent) solid 2px;
  outline-offset: 2px;
}
