<main class="content content_small">
  <section class="content__intro">
    <span>
      Hi, my name is
    </span>
    <h1 id="{{ intro.name | lower | replace(" ", "-") }}">
      {{ intro.name }}
    </h1>
    <span>
      and i'm an
    </span>
    <p class="content__heading content__heading_first">
      {{ intro.position }}
    </p>
  </section>

  <section>
    <h2 id="summary" class="sr-only">
      Summary
    </h2>
    <p>
      I'm always in touch via

      {% contact "Telegram", contacts.telegram.url -%}
        @{{ contacts.telegram.username }}
      {%- endcontact %}

      or

      {% contact "Email", contacts.email.url -%}
        {{ contacts.email.username }}
      {%- endcontact -%}

      , publish my work on

      {% contact "GitHub", contacts.github.url -%}
        @{{ contacts.github.username }}
      {%- endcontact -%}

      , and look for a job via

      {% contact "LinkedIn", contacts.linkedin.url -%}
        @{{ contacts.linkedin.username }}
      {%- endcontact -%}

      .
    </p>

    <h2 id="work-experience">
      Work Experience
    </h2>
    {% for work in [work[0], work[1]] %}
      <p>
        From {{ work.start_date | short_date }} to {{ work.end_date | short_date }} I worked at
        <a href="{{ work.url }}">
          {{ work.name -}}
        </a>
        {% if loop.first %}
          in a {{ work.position | lower }} position.
        {% else %}
          as a {{ work.position | lower }}.
        {% endif %}
      </p>
      <p>
        {% keywords work.summary, work.keywords %}
      </p>
    {% endfor %}
    <p>
      Periodically, for example from {{ work[2].start_date | short_date }} to {{ work[2].end_date | short_date }} and from {{ work[3].start_date | short_date }} to {{ work[3].end_date | short_date }}, I worked as a {{ work[2].name | lower }} {{ work[2].position | lower }}.
    </p>
    <p>
      {% keywords work[2].summary, work[2].keywords %}
      {% keywords work[3].summary, work[3].keywords %}
    </p>
  </section>

  <section>
    <h2 id="education">
      Education
    </h2>
    <p>
      In {{ education[0].end_date | short_date }} I got a {{ education[0].study_type | lower }}'s degree from the
      <a href="{{ education[0].url }}">
        {{ education[0].institution -}}
      </a>
      in the {{ education[0].area }} area.
    </p>
    <p>
      {{ education[0].summary }}
    </p>

    <h2 id="skills-and-languages">
      Skills And Languages
    </h2>
    <p>
      As my main technologies, I highlight
      {% for skill in skills.skills %}
        <mark class="keyword keyword_hard">{{ skill }},</mark>
        {% if loop.index + 1 == loop.length %}
          and
        {% endif %}
      {% endfor %}
      but these are far from all that interests me or what I use.
    </p>
    <p>
      The current level of
      <mark class="keyword keyword_soft">
        {{ "English" -}}
      </mark>
      allows me to communicate quite comfortably not only on professional topics. In turn, I speak
      <mark class="keyword keyword_soft">
        {{ "Russian" -}}
      </mark>
      ideally, since it's my native language.
    </p>
  </section>

  <section class="content__postscript">
    <p>
      Thanks a lot for reading to the end. For your convenience, I additionally published this CV
      <span class="print-only">
        on my
        <a
          href="https://vanyauhalin.me/cv/frontend"
          target="_blank"
        >
          {{ "site" -}}
        </a>
      </span>
      <span class="no-print">
        in
        <a
          href="https://vanyauhalin.me/cv/frontend.pdf"
          target="_blank"
        >
          {{ "PDF format" -}}
        </a>
      </span>
      and put my
      <a
        href="https://vanyauhalin.me/photocard.png"
        target="_blank"
      >
        {{ "photocard" -}}
      </a>
      next to it. See you!
    </p>
  </section>
</main>
