<main class="content content_small">
  <section class="content__intro">
    <span>
      Привет, меня зовут
    </span>
    <h1 id="{{ intro.name | lower | replace(" ", "-") }}">
      {{ intro.name }}
    </h1>
    <span>
      и я
    </span>
    <p class="content__heading content__heading_first">
      {{ intro.position }}
    </p>
  </section>

  <section>
    <h2 id="summary" class="sr-only">
      Summary
    </h2>
    <p>
      {{ intro.summary }}
    </p>
    <p>
      Я всегда на связи через

      {% contact "Telegram", contacts.telegram.url -%}
        @{{ contacts.telegram.username }}
      {%- endcontact %}

      или

      {% contact "Email", contacts.email.url -%}
        {{ contacts.email.username }}
      {%- endcontact %}

      и публикую свои работы на

      {% contact "GitHub", contacts.github.url -%}
        @{{ contacts.github.username }}
      {%- endcontact -%}

      .
    </p>

    <h2 id="work-experience">
      Опыт работы
    </h2>
    {% for work in [work[0], work[1]] %}
      <p>
        С {{ work.start_date | short_date_ru }} по {{ work.end_date | short_date_ru }} я работал в
        <a href="{{ work.url }}">
          {{ work.name -}}
        </a>
        {% if loop.first %}
          на позиции {{ work.position | lower }}.
        {% else %}
          в качестве {{ work.position | lower }}.
        {% endif %}
      </p>
      <p>
        {% keywords work.summary, work.keywords %}
      </p>
    {% endfor %}
    <p>
      Периодически, например с {{ work[2].start_date | short_date_ru }} по {{ work[2].end_date | short_date_ru }} и с {{ work[3].start_date | short_date_ru }} по {{ work[3].end_date | short_date_ru }}, я работал как {{ work[2].name | lower }} {{ work[2].position | lower }}.
    </p>
    <p>
      {% keywords work[2].summary, work[2].keywords %}
      {% keywords work[3].summary, work[3].keywords %}
    </p>
  </section>

  <section>
    <h2 id="education">
      Обучение
    </h2>
    <p>
      В {{ education[0].end_date | short_date_ru }} отучился на {{ education[0].study_type | lower }}а в
      <a href="{{ education[0].url }}">
        {{ education[0].institution -}}
      </a>
      по направлению {{ education[0].area | lower }}.
    </p>
    <p>
      {{ education[0].summary }}
    </p>

    <h2 id="skills-and-languages">
      Skills And Languages
    </h2>
    <p>
      Как свои основных технологии я выделяю
      {% for skill in skills.skills %}
        <mark class="keyword keyword_hard">{{ skill }},</mark>
        {% if loop.index + 1 == loop.length %}
          и
        {% endif %}
      {% endfor %}
      но это далеко не все, что меня интересует или чем я пользуюсь.
    </p>
    <p>
      Текущий уровень
      <mark class="keyword keyword_soft">
        {{ "английского" -}}
      </mark>
      позволяет мне достаточно комфортно общаться не только на профессиональные темы. В свою очередь,
      <mark class="keyword keyword_soft">
        {{ "русский" -}}
      </mark>
      для меня родной.
    </p>
  </section>

  <section class="content__postscript">
    <p>
      Большое спасибо, что дочитали до конца. Для вашего удобства я дополнительно опубликовал это резюме
      <span class="print-only">
        на своём
        <a
          href="https://vanyauhalin.me/cv/frontend-ru"
          target="_blank"
        >
          {{ "сайте" -}}
        </a>
      </span>
      <span class="no-print">
        в
        <a
          href="https://vanyauhalin.me/cv/frontend-ru.pdf"
          target="_blank"
        >
          {{ "формате PDF" -}}
        </a>
      </span>
      и рядышком положил свою
      <a
        href="https://vanyauhalin.me/photocard.png"
        target="_blank"
      >
        {{ "фотокарточку" -}}
      </a>
      {{- "." }} Ещё увидимся!
    </p>
  </section>
</main>
