<main class="content">
  <section class="content__intro">
    <span>
      Seems like we are lost and ended up on a
    </span>
    <h1 id="404">
      Non-existent Page
    </h1>
  </section>
  <p>
    Let me take you to the
    <a href="https://vanyauhalin.me">
      {{ "home page" -}}
    </a>
    {{- "." }}
  </p>
</main>
