<main class="content">
  <section class="content__intro">
    <span>
      Welcome to the site of
    </span>
    <h1 id="ivan-uhalin">
      Ivan Uhalin
    </h1>
  </section>
  <p>
    This is a little empty here for now, but my CV is for
    <a href="https://vanyauhalin.me/cv">
      {{ "iOS" -}}
    </a>
    and
    <a href="https://vanyauhalin.me/cv/frontend">
      {{ "frontend" -}}
    </a>
    positions has already been published, which you can read. In the future, I would like to publish small articles here and talk about my projects. So see you!
  </p>
</main>
