#
# General
#

# Prefixes:
# 	h - human, humanize.
# 	i - init, initiation.
# 	up - update.
[alias]
	h-log = log -p --ext-diff
	h-show = show --ext-diff
	i = !git init && git commit -m 'init repo' --allow-empty
	undo = reset --soft HEAD~1
	up-remote = remote update origin --prune

[core]
	excludesFile = ~/.gitignore

[diff]
	external = difft

[init]
	defaultBranch = main

[user]
	name = vanyauhalin
	email = vanyauhalin@gmail.com
