.page {
  --line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Wollstonecraft Romance, serif;
  font-weight: normal;
  letter-spacing: 0.045rem;
  line-height: var(--line-height);
}

@media not print {
  .page {
    font-size: 20px;
  }
}

.page__body {
  margin: 0;
}
